---
import Layout from "../layouts/Layout.astro";
---

<Layout highlightIndex={8} sshUser="critical-error" title="Not Found">
  <h1 class="input-mono">404 Not Found ¯\_(ツ)_/¯</h1>
  <p class="system-ui">You find yourself in a strange, almost magical place ✨ ✨ 💫</p>
</Layout>

<style>
  p {
    font-size: 20px;
  }
</style>