---
import { decodeFileName, mySlugify } from "../assets/utils.ts";
import Layout from "../layouts/Layout.astro";
import BlogPreview from "../components/BlogPreview.astro";
import { getCollection } from "astro:content";

const publishedBlogs = await getCollection(
  "blog",
  ({ data: { pubDate } }) => import.meta.env.DEV || pubDate
);
---

<Layout title="Arhan's Blog" sshUser="blog" includeRss={true}>
  <div id="max-width-wrapper" class="input-mono">
    <h1>My blog</h1>
    {
      publishedBlogs
        .sort((a, b) => {
          if (!a.data.pubDate) return -1;
          if (!b.data.pubDate) return 1;
          return b.data.pubDate.getTime() - a.data.pubDate.getTime();
        })
        .map((blog, i) => (
          <BlogPreview
            pubDate={
              blog.data.pubDate?.toLocaleDateString("en-US", {
                year: "2-digit",
                month: "numeric",
                day: "numeric",
              }) || "PREVIEW"
            }
            title={decodeFileName(blog.id)}
            description={blog.data.description}
            url={`/blog/${blog.data.url || mySlugify(decodeFileName(blog.id))}/`}
            colorDotRed={(publishedBlogs.length - i) % 2 === 1}
            first={i === 0}
            last={i === publishedBlogs.length - 1}
          />
        ))
    }
  </div>
</Layout>

<style lang="scss">
  h1 {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 4px solid var(--lr);
    border-bottom: 4px solid var(--lb);
    margin-bottom: 50px;
  }

  #max-width-wrapper {
    margin-bottom: 0;
  }
</style>
