---
import { decodeFilePath1, mySlugify } from "../lib/utils";
import fs from "node:fs";
import { render } from "astro:content"
import Layout from "../layouts/Layout.astro";
import BlogPreview from "../components/BlogPreview.astro";
import { getCollection } from "astro:content";

const publishedBlogs = await getCollection(
  "blog",
  ({ data: { pubDate } }) => import.meta.env.DEV || pubDate
);

const publishedBlogsWithReadTime = await Promise.all(
  publishedBlogs.map(async (publishedBlog) => {
    const { remarkPluginFrontmatter } = await render(publishedBlog);
    return {
      publishedBlog,
      minutesRead: remarkPluginFrontmatter.minutesRead as string,
    };
  })
);
---

<Layout title="Arhan's Blog" sshUser="blog">
  <div id="max-width-wrapper" class="input-mono">
    <h1>My blog</h1>
    {
    publishedBlogsWithReadTime
        .sort(({ publishedBlog: a } , { publishedBlog: b }) => {
          if (a.data.pubDate && b.data.pubDate)
            return b.data.pubDate.getTime() - a.data.pubDate.getTime();
          else if (a.data.pubDate) return 1;
          else if (b.data.pubDate) return -1;
          if (!a.filePath || !b.filePath)
            throw new Error("blog file paths somehow not found");
          return (
            fs.statSync(b.filePath).mtimeMs - fs.statSync(a.filePath).mtimeMs
          );
        })
        .map(({ publishedBlog, minutesRead }, i) => (
          <BlogPreview
            pubDate={publishedBlog.data.pubDate}
            minutesRead={minutesRead}
            title={decodeFilePath1(publishedBlog.filePath)}
            description={publishedBlog.data.description}
            url={`/blog/${publishedBlog.data.url || mySlugify(decodeFilePath1(publishedBlog.filePath))}/`}
            colorDotRed={(publishedBlogs.length - i) % 2 === 1}
            first={i === 0}
            last={i === publishedBlogs.length - 1}
          />
        ))
    }
    <script>
      const parents = document.querySelectorAll("[data-date]")!;
      for (let parent of parents) {
        parent.textContent = new Date(
          +parent.getAttribute("data-date")!
        ).toLocaleDateString("en-US", {
          year: "2-digit",
          month: "numeric",
          day: "numeric",
        });
      }
    </script>
  </div>
</Layout>

<style lang="scss">
  h1 {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 4px solid var(--lr);
    border-bottom: 4px solid var(--lb);
    margin-bottom: 50px;
  }

  #max-width-wrapper {
    margin-bottom: 0;
  }
</style>
