---
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const { data: allCTFs } = await getEntry("ctfs", "ctfs");
const allWriteups = await getCollection("ctf-write-up");
const CTFWriteupNames = new Set(
  allWriteups.map((writeup) => {
    const ret = writeup.id.split("/").at(-2)!;
    if (allCTFs.some(({ ctfName }) => ret === ctfName)) {
      return ret;
    } else {
      throw new Error("CTF name typo");
    }
  })
);
---

<Layout title="Arhan's CTF Page" sshUser="ctf">
  <div id="max-width-wrapper" class="system-ui">
    <h1 class="input-mono">My CTF page</h1>
    <p>
      As a programming hobbyist, I believe that Capture the Flag competitions,
      or CTFs, are the greatest discipline of computer science. CTF competitions
      involve working together with a team to exploit vulnerablites in programs
      or computer systems to find a "flag", a specific text string that serves
      as the answer to the challenge.
    </p>
    <p>
      Part of my love for competing in CTFs comes from having fun with my team.
      My close high school friends <a href="https://rluo.dev">Ruien</a>, <a
        href="https://bithole.dev">Adrian</a
      >, <a href="https://kot.pink">Kevin</a> and I form the CTF team <a
        href="https://ctftime.org/team/207689">asmhole</a
      >. Together, we:
    </p>
    <ul>
      <li>
        Went to DEF CON 31 together! We won 1st place for Starphish CTF and a
        Flipper Zero
      </li>
      <li>
        Won <a href="https://b01lersc.tf/scoreboard">1st place</a> for b01lers CTF
        2024 Purdue division
      </li>
      <li>
        Won <a href="https://squarectf.com/2023/results.html">10th place</a> for
        Square CTF 2023 and $200
      </li>
      <li>
        Finished as the <a href="https://ctftime.org/stats/2023/US"
          >top 43 national CTFtime team</a
        > in 2023
      </li>
    </ul>
    <p>
      The rest of this page is dedicated towards my CTF competition history and
      my write-ups. Note that I've ommitted asmhole competitions I minimally
      participated in.
    </p>
    <hr />
    <ul id="ctf-list">
      {
        allCTFs.map(({ ctfName, ctfLink }) => (
          <li>
            <a href={ctfLink}>{ctfName}</a> —
            {CTFWriteupNames.has(ctfName) ? (
              <a
                href={`/write-up/${ctfName.toLowerCase().replaceAll(" ", "-")}/`}
              >
                write-up
              </a>
            ) : (
              "(no write-up)"
            )}
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  #reveal-flag {
    appearance: none;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
  }

  #ctf-list li {
    margin: 1em 0;
  }
</style>
