---
import Layout from "../layouts/Layout.astro";

const allWriteups = await Astro.glob("../pages/write-up/**/*.mdx");
const CTFWriteupNames = new Set<string>();
const allCTFs: { link: string; endDate: string; name: string }[] = [];
for (const writeup of allWriteups) {
  const writeupName = writeup.url!.split("/").at(-1)!;
  const CTFName = writeup.url!.split("/").at(-2)!;
  if (writeupName === "_") {
    allCTFs.push({
      ...(writeup.frontmatter as { link: string; endDate: string }),
      name: CTFName,
    });
  } else {
    CTFWriteupNames.add(CTFName);
  }
}
---

<Layout title="Arhan's CTF Page" sshUser="ctf">
  <div id="max-width-wrapper" class="system-ui">
    <h1 class="input-mono">My CTF page</h1>
    <p>
      As a programming hobbyist, I believe that Capture the Flag competitions,
      or CTFs, are the greatest discipline of computer science. CTF competitions
      involve working together with a team to exploit vulnerablites in programs
      or computer systems to find a "flag", a specific text string that serves
      as the answer to the challenge.
    </p>
    <p>
      For example, there's a secret message hidden in the following string. Can
      you decipher its true meaning? (Hint: research binary encoding schemes)
    </p>
    <p>
      <span class="input-mono" id="flag-plaintext"
        >NHJlX3kwdV80X2g0Y2szciE/</span
      >
      <button id="reveal-flag">Reveal</button>
      <span id="flag-explanation" hidden
        ><a href="https://www.base64decode.org/">base64 decode</a> the text</span
      >
    </p>
    <script>
      document.getElementById("reveal-flag")!.addEventListener("click", () => {
        document.getElementById("flag-plaintext")!.innerText = atob(
          document.getElementById("flag-plaintext")!.innerText
        );
        document.getElementById("flag-explanation")!.hidden = false;
      });
    </script>
    <p>
      Part of my love for competing in CTFs comes from having fun with my team.
      My close high school friends <a href="https://rluo.dev/">Ruien</a>, <a
        href="https://bithole.dev">Adrian</a
      >, <a href="https://kot.pink">Kevin</a> and I form the CTF team <a
        href="https://ctftime.org/team/207689">asmhole</a
      >. Together, we:
    </p>
    <ul>
      <li>
        Went to DEF CON 31 together! We won 1st place for Starphish CTF and a
        Flipper Zero
      </li>
      <li>
        Won <a href="https://b01lersc.tf/scoreboard">1st place</a> for b01lers CTF
        2024 Purdue division
      </li>
      <li>
        Won <a href="https://squarectf.com/2023/results.html">10th place</a> for
        Square CTF 2023 and $200
      </li>
      <li>
        Finished as the <a href="https://ctftime.org/stats/2023/US"
          >top 43 national CTFtime team</a
        > in 2023
      </li>
    </ul>
    <hr />
    <p>
      The rest of this page is dedicated towards my CTF competitions and my
      write-ups. Note that I've ommitted asmhole competitions I minimally
      participated in.
    </p>
    <ul id="ctf-list">
      {
        allCTFs
          .sort(
            (a, b) =>
              new Date(b.endDate).getTime() - new Date(a.endDate).getTime()
          )
          .map(({ name, link }) => (
            <li>
              <a href={link}>{name}</a> —
              {(() => {
                if (CTFWriteupNames.has(name)) {
                  return (
                    <a
                      href={`/write-up/${name.toLowerCase().replaceAll(" ", "-")}`}
                    >
                      write-up
                    </a>
                  );
                } else {
                  return "(no write-up)";
                }
              })()}
            </li>
          ))
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  #reveal-flag {
    appearance: none;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
  }

  #ctf-list li {
    margin: 1em 0;
  }
</style>
