---
// cSpell:disable
import { decodeFileName, decodeFilePath2, mySlugify } from "../lib/utils";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const ctfsEntry = await getCollection("ctfs");
const allWriteups = await getCollection("ctf-write-up");
const ctfWriteupNames = new Set(
  allWriteups.map((writeup) => {
    const ret = decodeFilePath2(writeup.filePath);
    if (!ret) {
      throw new Error("ctf name not found");
    }
    if (ctfsEntry.some(({ id }) => ret === id)) {
      return ret;
    }
    throw new Error("ctf name typo");
  })
);
// cSpell:enable
---

<Layout title="Arhan's CTF Page" sshUser="ctf">
  <!-- cspell:ignore Ruien asmhole Starphish b01lers Ftime ctfs -->
  <div id="max-width-wrapper" class="system-ui offwhite">
    <h1>My CTF page</h1>
    <hr />
    <p>
      I sometimes play CTF. CTF competitions involve working together with a
      team to exploit vulnerabilities in programs or computer systems to find a
      "flag", a specific text string that serves as the answer to the challenge.
    </p>
    <p>
      Most of the fun from competing in CTFs comes from my team. My close high
      school friends <a href="https://rluo.dev">Ruien</a>, <a
        href="https://bithole.dev">Adrian</a
      >, <a href="https://kot.pink">Kot</a> and I form the CTF team <a
        href="https://ctftime.org/team/207689">asmhole</a
      >. Together, we:
    </p>
    <ul>
      <li>
        Went to DEF CON 31/32 together! We won 1st place for Starphish CTF and a
        Flipper Zero
      </li>
      <li>
        Won <a href="https://b01lersc.tf/scoreboard">1st</a> place for b01lers CTF
        2024 Purdue division
      </li>
      <li>
        Won <a href="https://squarectf.com/2023/results.html">10th</a> place for
        Square CTF 2023 and $200
      </li>
      <li>
        Finished as the <a href="https://ctftime.org/stats/2023/US">43rd</a> national
        CTFtime team in 2023
      </li>
    </ul>
    <p>
      The rest of this page is dedicated towards my CTF competition history and
      my write-ups. Note that I've omitted asmhole competitions I minimally
      participated in.
    </p>
    <ul id="ctf-list">
      {
        ctfsEntry.map(({ data: { id, ctfLink } }) => (
          <li>
            <a href={ctfLink}>{id}</a> —
            {ctfWriteupNames.has(id) ? (
              <a href={`/write-up/${mySlugify(decodeFileName(id))}/`}>
                write-up
              </a>
            ) : (
              "(no write-up)"
            )}
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  #reveal-flag {
    appearance: none;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
  }

  #ctf-list li {
    margin: 1em 0;
  }
</style>
