---
import Layout from "../layouts/Layout.astro";
import CubingCompetition from "../components/CubingCompetition.astro";
import * as CubingContent from "../assets/cubing/content.mdx";
import { getCollection } from "astro:content";

const cubingCompetitions = await getCollection("cubing-competition");
---

<Layout title="Arhan's Cubing Page" sshUser="cubing">
  <div id="max-width-wrapper" class="system-ui offwhite">
    <h1 class="input-mono">My cubing page</h1>
    <hr />
    <CubingContent.Content />
    <h2>My Competitions</h2>
    {
      cubingCompetitions
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((cubingCompetition) => <CubingCompetition {cubingCompetition} />)
    }
  </div>
</Layout>

<style lang="scss" is:global>
  #max-width-wrapper code {
    background-color: initial;
    font-size: 1em;
    padding: initial;

    .reconstruction-comment {
      color: hsl(0, 0%, 70%);
      font-style: italic;
    }
  }
</style>
