---
import Layout from "../layouts/Layout.astro";
import CubingCompetition from "../components/CubingCompetition.astro";
import cubingPhotography from "../assets/cubing/cubing-photography.jpg";
import { getCollection } from "astro:content";
import ContentImage from "../components/ContentImage.astro";

const cubingCompetitions = await getCollection("cubing-competition");
---

<Layout title="Arhan's Cubing Page" sshUser="cubing">
  <div id="max-width-wrapper" class="system-ui offwhite">
    <h1 class="input-mono">My cubing page</h1>
    <hr />
    <p>
      I can't specifically remember when, but my cubing journey started in
      middle school when I found a Rubik's cube at a birthday party and learned
      to solve it myself using the <a
        href="https://en.wikipedia.org/wiki/CFOP_method">CFOP method</a
      >. Since then:
    </p>
    <ul>
      <li>My personal best solve time is 6.48 seconds</li>
      <li>My average solve time is around 11 seconds</li>
      <li>
        I can solve Rubik's cubes blindfolded (it took me seven attempts for my
        first and only successful solve)
      </li>
      <li>
        I've attended {cubingCompetitions.length} speedcubing competitions (my <a
          href="https://www.worldcubeassociation.org/persons/2018CHAU01"
          >WCA profile</a
        >)
      </li>
    </ul>
    <p>
      For <i>now</i>, I only practice 3x3, but hopefully I'll find later
      motivation to learn other twisty puzzles.
    </p>
    <h2>3x3 Main</h2>
    <p>
      My 3x3 Rubik's cube main is the GAN 14 3x3 Magnetic (MagLev UV Coated)
    </p>
    <ContentImage
      src={cubingPhotography}
      alt="Cubing photograph picture"
      width="500"
      quality="max"
      desc="This composition took two hours to get right. The colors admittedly look a bit muted; I took this picture with my phone."
    />
    <p>
      Fancy, I know right? When I got this cube in particular, I started an
      experiment and adjusted the tensioning towards the faster setting. I
      noticed in my previous Rubik's cube mains that I would always adjust the
      tension towards the slower end because applied too much force while
      turning, tiring me out.
    </p>
    <p>
      Although it was hard getting used to at first, so far I think the
      experiment has worked! Hopefully this isn't just a placebo, but I feel
      like turning has been easier than ever.
    </p>
    <h2>Personal Best Solve</h2>
    <p>
      This solve is one-of-a-kind; at the time of writing, no other solve of
      mine comes close to how extraordinary this one is. For perspective, from
      around ten thousand prior career solves, my previous personal best was
      8.62 seconds. It was my most dramatic personal best solve time jump, and
      no other solve time other than <a
        href="https://alg.cubing.net/?type=reconstruction&setup=B-_R_D2_L-_F2_L-_U2_F2_L-_F2_R-_F2_B-_L-_R2_D-_R-_F_L-&alg=x2_y_%2F%2F_Inspection%0AD-_R-_D2_F_B-_R_D2_%2F%2F_Cross%0AL-_U_L_y-_R-_U2_R_%2F%2F_1st_Pair%0AL_F-_L-_F_L_U_L-_%2F%2F_2nd_Pair%0Ay-_U_R-_U-_R_%2F%2F_3rd_Pair%0AU_R_U_R-_%2F%2F_4th_Pair%0Af_R_U_R-_U-_f-_U-_R_U_R-_U-_R-_F_R_F-_%2F%2F_OLL%0A%0A%2F%2F_Solved_on_Dec_5,_2022&title=Arhan%20Chaudhary,%206.82%20seconds&view=playback"
        >this contender</a
      > has come close after more than five years. Without further ado:
    </p>
    <p>
      <code>
        6.48 &nbsp;&nbsp;L U2 L' D2 R F2 L' U2 F2 R D2 L' B' R' U' L' R2 B2 L'
        D2<br />
        <br />
        x2 &nbsp;<span class="reconstruction-comment">// Inspection</span><br />
        R B U' M' U2 M &nbsp;<span class="reconstruction-comment"
          >// XX Cross</span
        ><br />
        y R U2 R' U R U' R' &nbsp;<span class="reconstruction-comment"
          >// 3rd pair</span
        ><br />
        y R U' R' U R U R' &nbsp;<span class="reconstruction-comment"
          >// 4th pair</span
        ><br />
        r U2 R' U' R U' r' &nbsp;<span class="reconstruction-comment"
          >// OLL</span
        ><br />
        U R' U L' U2 R U' R' U2 R L &nbsp;<span class="reconstruction-comment"
          >// PLL</span
        ><br />
        <br />
        <span class="reconstruction-comment">// Solved on Sep 7, 2019</span><br
        />
      </code>
    </p>
    <p>
      You can <a
        href="https://alg.cubing.net/?setup=L_U2_L-_D2_R_F2_L-_U2_F2_R_D2_L-_B-_R-_U-_L-_R2_B2_L-_D2&alg=x2_%2F%2F_Inspection%0AR_B_U-_M-_U2_M_%2F%2F_XX_Cross%0Ay_R_U2_R-_U_R_U-_R-_%2F%2F_3rd_pair%0Ay_R_U-_R-_U_R_U_R-_%2F%2F_4th_pair%0Ar_U2_R-_U-_R_U-_r-_%2F%2F_OLL%0AU_R-_U_L-_U2_R_U-_R-_U2_R_L_%2F%2F_PLL%0A%0A%2F%2F_Solved_on_Sep_7,_2019&type=reconstruction&title=Arhan%20Chaudhary,%206.48%20seconds&view=playback"
        >visually follow this solve along</a
      > if needed.
    </p>
    <p>
      Before you've even picked up the cube, you can already tell that the solve
      presents a special opportunity. There exists not one, but <i>two</i> completed
      2x2x1 F2L blocks. Complemented by easy cross edges, the solve manifests a rare
      XXCross! Following that, the third and fourth pairs were easy-to-look-ahead
      2-gen algorithms that each required a rotation for setup.
    </p>
    <p>
      I couldn't have asked for an easier OLL; the fat anti-sune is one of my
      fastest algorithms. Plus, it was already U-face oriented, making for easy
      recognition. On the other hand, I was met with a Ja PLL, an algorithm I've
      historically locked up on. Surprisingly, my execution was flawless, aided
      by 25% chance of no AUF. Given that I've always struggled with solve
      anxiety especially towards the end of the solve, I can't help but give
      myself a pat on the back for how elegant the last layer was. Through the
      culmination of an awesome scramble and perhaps an even more awesome
      solution, my 6.48 second Rubik's cube solve is forever cemented as one of
      my proudest life accomplishments!
    </p>
    <h2>My Competitions</h2>
    {
      cubingCompetitions
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((cubingCompetition) => <CubingCompetition {cubingCompetition} />)
    }
  </div>
</Layout>

<style lang="scss">
  code {
    background-color: initial;
    font-size: 1em;
    padding: initial;

    .reconstruction-comment {
      color: hsl(0, 0%, 70%);
      font-style: italic;
    }
  }
</style>
