---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import { getCollection } from "astro:content";
import { decodeFileName } from "../assets/utils";

let projects = await getCollection("project");

const projectsOrder = [
  "NAND",
  "everyone",
  "TimeWeb",
  "GitMe",
  "Advent of Code 2023",
  "website",
];

function safeIndexOf(arr: string[], val: string) {
  const index = arr.indexOf(val);
  if (index === -1) throw new Error("not found");
  return index;
}

projects = projects.sort(
  (a, b) =>
    safeIndexOf(projectsOrder, decodeFileName(a.id)) -
    safeIndexOf(projectsOrder, decodeFileName(b.id))
);
---

<Layout title="Arhan's Projects" sshUser="projects">
  <div id="max-width-wrapper" class="system-ui offwhite">
    <h1>My personal projects</h1>
    <hr />
    <p>
      I've always been a sucker for project-based learning. With each new
      programming endeavor, I try to build something more ambitious than the
      last one!
    </p>
    <br />
    {
      projects
        .filter(({ data: { personal } }) => personal)
        .map((project) => <Project {project} />)
    }
  </div>
</Layout>
