---
import Layout from "../layouts/Layout.astro";
import BookReview from "../components/BookReview.astro";
import UnreadBook from "../components/UnreadBook.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBookReviews = await getCollection("book-review");
const yearsToBookReviews: [number, CollectionEntry<"book-review">[]][] = [];

for (let bookReview of allBookReviews) {
  let year = bookReview.data.read.getFullYear();
  let yearToBookReviews = yearsToBookReviews.find(([y, _]) => y === year);
  let bookReviews: CollectionEntry<"book-review">[];
  if (yearToBookReviews) {
    bookReviews = yearToBookReviews[1];
  } else {
    let i = 0;
    while (i < yearsToBookReviews.length && yearsToBookReviews[i][0] > year) {
      i++;
    }
    bookReviews = [];
    yearsToBookReviews.splice(i, 0, [year, bookReviews]);
  }
  let i = 0;
  while (
    i < bookReviews.length &&
    bookReviews[i].data.read > bookReview.data.read
  ) {
    i++;
  }
  bookReviews.splice(i, 0, bookReview);
}

const { data: allUnreadBooks } = await getEntry("unread-books", "unread-books");
---

<Layout title="Arhan's Reading Notes" sshUser="reading">
  <div id="max-width-wrapper" class="system-ui">
    <h1 class="input-mono">My reading notes & book reviews</h1>
    <hr />
    <details>
      <summary>Reading List</summary>
      {
        allUnreadBooks
          .filter(({ inProgress }) => !inProgress)
          .map((unreadBook) => <UnreadBook {...unreadBook} />)
      }
    </details>
    <details>
      <summary>Reading in Progress</summary>
      {
        allUnreadBooks
          .filter(({ inProgress }) => inProgress)
          .map((unreadBook) => <UnreadBook {...unreadBook} />)
      }
    </details>
    {
      yearsToBookReviews.map(([year, bookReviews]) => (
        <>
          <details>
            <summary>{year}</summary>
            <div class="indent">
              {bookReviews.map((section) => (
                <BookReview {section} />
              ))}
            </div>
          </details>
        </>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  details {
    margin: 1em 0;

    summary {
      font-size: 24px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
</style>

<style lang="scss" is:global>
  .indent {
    margin-left: 40px;
  }
</style>
