---
interface Props {
  pubDate: string;
  title: string;
  description: string;
  url: string | undefined;
}
const { pubDate, title, description, url } = Astro.props;
---

<p>
  {pubDate} - <a href={url}>{title}</a> -
  {description}
</p>
