---
interface Props {
  pubDate: string;
  title: string;
  description: string;
  url: string | undefined;
  colorDotRed: boolean;
  first: boolean;
  last: boolean;
}
const { pubDate, title, description, url, colorDotRed, first, last } =
  Astro.props;
---

<div class="grid-wrapper">
  <span class="pub-date">{pubDate}</span>
  <span class:list={["boop", { lb: !colorDotRed, lr: colorDotRed }]}></span>
  <a href={url} class="white-link">{title}</a>
  <div class="description">{description}</div>
  <div class:list={["timeline-1", { first, last }]}></div>
  <div class:list={["timeline-2", { first, last }]}></div>
</div>

<style lang="scss">
  @use "../assets/variables";

  .grid-wrapper {
    display: grid;
    align-items: center;
    --timeline-width: 10px;
    --date-gap: 2ch;
    grid-template-columns:
      8ch var(--date-gap) var(--timeline-width) calc(var(--date-gap) * 2)
      minmax(0, 45ch);
    --description-gap: 2px;
    grid-template-rows: auto var(--description-gap) auto 50px;

    .pub-date {
      color: hsl(0, 0%, 60%);
      display: inline-block;
      text-align: right;
    }

    .boop {
      display: inline-block;
      grid-row-start: 1;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      grid-column-start: 3;

      &.lb {
        background-color: var(--lb);
      }

      &.lr {
        background-color: var(--lr);
      }
    }

    a {
      grid-column-start: 5;
      font-size: 26px;
      font-weight: 700;
      justify-self: left;
      color: white;
    }

    .description {
      word-wrap: break-word;
      grid-row-start: 3;
      grid-column-start: 5;
      color: hsl(0, 0%, 65%);
    }

    .timeline-1,
    .timeline-2 {
      grid-column-start: 3;
      align-self: normal;
      justify-self: center;
      background-color: hsl(0, 0%, 25%);
      width: 30%;
      position: relative;
      z-index: -1;
    }

    .timeline-1 {
      grid-row-start: 1;
      grid-row-end: 1;

      &.first {
        top: 50%;

        &.last {
          display: none;
        }
      }

      &.last {
        bottom: 50%;
      }
    }

    .timeline-2 {
      grid-row-start: 2;
      grid-row-end: 5;

      &.last {
        display: none;
      }
    }
  }

  @media (max-width: variables.$mobile-width) {
    .grid-wrapper {
      --date-gap: 1.5ch;
      --timeline-width: 8px;
      --description-gap: 0;
      font-size: 14px;

      .description {
        font-size: 15px;
      }
      a {
        font-size: 20px;
      }
    }
  }
</style>
