---
interface Props {
  pubDate?: Date;
  title: string;
  description: string | undefined;
  url: string | undefined;
  colorDotRed: boolean;
  first: boolean;
  last: boolean;
}
const { pubDate, title, description, url, colorDotRed, first, last } =
  Astro.props;
---

<div class="grid-wrapper">
  <span class="pub-date" data-date={pubDate?.valueOf() || undefined}
    >{pubDate === undefined && "PREVIEW"}</span
  >
  <span class:list={["boop", { lb: !colorDotRed, lr: colorDotRed }]}></span>
  <a href={url} class="white-link">{title}</a>
  <div class="description">{description}</div>
  <div class:list={["timeline-1", { first, last }]}></div>
  <div class:list={["timeline-2", { first, last }]}></div>
</div>

<style lang="scss">
  @use "../assets/variables";

  .grid-wrapper {
    display: grid;
    align-items: center;
    font-size: 17px;
    --timeline-width: 10px;
    --date-gap: 1.5ch;
    grid-template-columns:
      8ch var(--date-gap) var(--timeline-width) calc(var(--date-gap) * 2)
      minmax(0, 45ch);
    --description-gap: 0px;
    grid-template-rows: auto var(--description-gap) auto 4em;

    .pub-date {
      color: hsl(0, 0%, 60%);
      display: inline-block;
      text-align: right;
    }

    .boop {
      display: inline-block;
      grid-row-start: 1;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      grid-column-start: 3;

      &.lb {
        background-color: var(--lb);
      }

      &.lr {
        background-color: var(--lr);
      }
    }

    a {
      grid-column-start: 5;
      font-size: 21px;
      font-weight: 700;
      justify-self: left;
      color: white;
    }

    .description {
      word-wrap: break-word;
      grid-row-start: 3;
      grid-column-start: 5;
      color: hsl(0, 0%, 65%);
    }

    .timeline-1,
    .timeline-2 {
      grid-column-start: 3;
      align-self: normal;
      justify-self: center;
      background-color: hsl(0, 0%, 25%);
      width: 40%;
      position: relative;
      z-index: -1;
    }

    .timeline-1 {
      grid-row-start: 1;
      grid-row-end: 1;

      &.first {
        transform: scaleY(0.5);
        transform-origin: bottom;

        &.last {
          display: none;
        }
      }

      &.last {
        transform: scaleY(0.5);
        transform-origin: top;
      }
    }

    .timeline-2 {
      grid-row-start: 2;
      grid-row-end: 5;

      &.last {
        display: none;
      }
    }
  }

  @media (max-width: variables.$mobile-width) {
    .grid-wrapper {
      --date-gap: 1ch;
      --timeline-width: 8px;
      font-size: 14px;
      margin-left: -7px;

      a {
        font-size: 17px;
      }
    }
  }
</style>
