---
import type { CollectionEntry } from "astro:content";

interface Props {
  section: CollectionEntry<"book-review">;
}

const { section } = Astro.props;
const { url, rating, author, genre } = section.data;
const { Content } = await section.render();
---

<h2>
  <a href={url}>{section.id.replace(".mdx", "")}</a>
</h2>
<div class="info">
  Genre: {genre}
  <br />
  Author{author.includes(",") && "s"}: {author}
</div>
<div class="stars">
  {Array.from({ length: Math.floor(rating) }, () => <>&#9733;</>)}
  {
    rating % 1 !== 0 && (
      <span class="half-star">
        <span class="hitbox">&#9733;</span>
        <span class="first-half">&#9733;</span>
        <span class="second-half">&#9734;</span>
      </span>
    )
  }
  {Array.from({ length: 5 - Math.ceil(rating) }, () => <>&#9734;</>)}
</div>
<div class="indent">
  <Content />
</div>

<style lang="scss">
  h2 {
    margin-bottom: 2px;
  }

  a {
    color: hsl(0, 0%, 95%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: hsl(0, 0%, 85%);
    }
  }

  .info {
    color: hsl(0, 0%, 50%);
    margin-bottom: 20px;
  }

  .stars {
    color: yellow;
    font-size: 1.5em;
    display: flex;

    .half-star {
      position: relative;

      .hitbox {
        visibility: hidden;
      }
      .first-half,
      .second-half {
        position: absolute;
        overflow: hidden;
      }
      .first-half {
        width: 48%;
        left: 0;
      }
      .second-half {
        right: 0;
        direction: rtl;
      }
    }
  }
</style>
