---
import type { CollectionEntry } from "astro:content";

interface Props {
  section: CollectionEntry<"book-review">;
}

const { section } = Astro.props;
const { Content } = await section.render();
---

<h2>{section.id.replace(".mdx", "")}</h2>
<div class="indent">
  <Content />
</div>

<style lang="scss">
  details {
    margin: 1em 0;

    summary {
      font-size: 24px;
      font-weight: bolder;
      cursor: pointer;
    }

    .indent {
      margin-left: 40px;
    }
  }
</style>
