---
interface Props {
  title: string;
  dateRange: string;
  link: string;
}
const { title, dateRange, link } = Astro.props;
---

<div>
  <div class="flex-container input-mono">
    <a class="title" href={link} id={title}>{title}</a>
    {dateRange}
  </div>
  <div class="description">
    <slot />
  </div>
</div>

<style>
  .flex-container {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;

    .title {
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
      position: relative;
      display: list-item;
      text-align: left;
      margin-right: 50px;

      &::marker {
        color: white;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 3px;
      }
    }
  }

  .description {
    margin: 30px 10px 30px 30px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>
