---
interface Props {
  isOdd: boolean;
}

const { isOdd } = Astro.props;
---

<div class:list={["section", { odd: isOdd, even: !isOdd }]}>
  <slot />
</div>

<style lang="scss">
  .section {
    padding: 20px 50px;
    height: clamp(400px, 80dvh, 800px);
    // border: 1px solid #ccc;
    &.odd {
      background-color: hsl(240, 4%, 10%);
    }

    &.even {
      background-color: hsl(240, 7%, 12%);
    }
  }
</style>
