---
interface Props {
  title: string;
  author: string;
  url: string;
  genre: string;
}

const { title, author, url, genre } = Astro.props;
---

<div class="indent">
  <a href={url}>{title}</a>
  <div class="info">
    Genre: {genre}
    <br />
    Author{author.includes(",") && "s"}: {author}
  </div>
</div>

<style style="scss">
  .indent {
    padding: 0.75em 0;
  }

  a {
    color: hsl(0, 0%, 95%);
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 2px;

    &:hover {
      text-decoration: underline;
      color: hsl(0, 0%, 85%);
    }
  }

  .info {
    color: hsl(0, 0%, 50%);
    margin-bottom: 5px;
  }
</style>
