---
import { mySlugify } from '../../lib/utils';

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<details id={mySlugify(title)} open={import.meta.env.DEV}>
    <hr>
    <summary>{title}</summary>
    <slot name="motivation" />
    <h3>Example</h3>
    <slot name="example" />
    <h3>References</h3>
    <slot name="references" />
</details>

<style lang="scss">
    details {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    summary {
        font-weight: bold;
        font-size: 1.3em;
    }
</style>
