---
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description: string;
  pubDate?: Date;
}

const { description, pubDate, title } = Astro.props;
---

<Layout {title} description={description} sshUser="blog">
  <div class="system-ui" id="max-width-wrapper">
    <h1>{title}</h1>
    <p>
      Published {
        pubDate?.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        }) || "N.A."
      } &#x2022; <a href="/blog/">more posts</a> &#x2022; <a href="/rss.xml"
        >rss</a
      >
    </p>
    <hr />
    <span class="offwhite">
      <slot />
    </span>
    <script
      is:inline
      src="https://utteranc.es/client.js"
      repo="ArhanChaudhary/website"
      issue-term="title"
      label="blog"
      theme="github-dark"
      crossorigin="anonymous"
      async></script>
  </div>
</Layout>

<style lang="scss">
  #max-width-wrapper {
    margin-bottom: 10px;
  }
</style>

<style lang="scss" is:global>
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
</style>
