---
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description?: string;
  pubDate?: Date;
}

const { description = "Arhan's Blog", pubDate, title } = Astro.props;
// cspell:ignore dolk
---

<Layout {title} description={description} sshUser="blog">
  <div class="system-ui" id="max-width-wrapper">
    <h1>{title}</h1>
    <p>
      {
        pubDate ?
        (
          <>
            Published
            <span data-date={pubDate?.valueOf()}>
              <script>
                const parent = document.querySelector("[data-date]")!;
                parent.textContent = new Date(+parent.getAttribute("data-date")!).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                });
              </script>
            </span>
          </>
        ) : "!! UNPUBLISHED !!"
      }
      &#x2022; <a href="/blog/">more posts</a>
    </p>
    <hr />
    <div class="offwhite" id="blog-body">
      <slot />
    </div>
    {
      pubDate && !import.meta.env.DEV && (
        <script
          is:inline
          src="https://giscus.app/client.js"
          data-repo="ArhanChaudhary/website"
          data-repo-id="R_kgDOLK1WSg"
          data-category="Blog"
          data-category-id="DIC_kwDOLK1WSs4CpZeI"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="dark"
          data-lang="en"
          crossorigin="anonymous"
          async
        />
      )
    }
  </div>
</Layout>

<style lang="scss">
  #max-width-wrapper {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;

    #blog-body {
      padding-bottom: 15px;
    }
  }
</style>

<style lang="scss" is:global>
  @use "../lib/variables";

  #nav-hamburger,
  nav {
    display: none !important;
  }

  #flex-wrapper {
    margin-right: initial !important;
    padding-right: initial !important;
  }

  main {
    margin-left: var(--mobile-outer-padding) !important;
  }

  #troll-flex-wrapper {
    margin-left: var(--main-margin-left);
  }

  @media (max-width: variables.$mobile-width) {
    #troll-flex-wrapper {
      margin-left: var(--mobile-outer-padding) !important;
    }
  }
</style>
