---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} sshUser="blog" highlightIndex={3}>
  <div class="system-ui" id="blog-wrapper">
    <h1>{frontmatter.title}</h1>
    <p>
      Published {
        new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      } &#x2022; <a href="/blog">More posts</a>
    </p>
    <hr />
    <slot />
    <script
      is:inline
      src="https://utteranc.es/client.js"
      repo="ArhanChaudhary/website"
      issue-term="title"
      label="blog"
      theme="github-dark"
      crossorigin="anonymous"
      async></script>
  </div>
</Layout>

<style lang="scss">
  #blog-wrapper {
    max-width: 70ch;
    margin-bottom: 20px;
  }
</style>

<style is:global>
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
</style>
