---
interface Props {
  title: string;
  sshUser: string;
  highlightIndex: number;
}

const { title, highlightIndex, sshUser } = Astro.props;
import "normalize.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Arhan's Homepage" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Arhan Chaudhary" />
    <title>{title}</title>
  </head>
  <body>
    <div id="flex-wrapper">
      <div id="ssh-text">{sshUser}@arhan.sh:~$ █</div>
      <main>
        <slot class="slot" />
      </main>
      <div id="copyright">&copy; 2024 Arhan Chaudhary</div>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/ctfing">CTFing</a>
      <a href="/reading">Reading</a>
      <a href="/cubing">Cubing</a>
      <a href="/best-of-yt">Best of YouTube</a>
      <a href="/favorite-music">Favorite Music</a>
      <div id="nav-arrow">↳</div>
      <script is:inline define:vars={{ highlightIndex }}>
        document.querySelector(
          `nav a:nth-child(${highlightIndex})`
        ).style.color = "white";
      </script>
    </nav>
  </body>
</html>

<style define:vars={{ highlightIndex }}>
  :root {
    --lb: hsl(180, 75%, 51%);
    --lr: hsl(333, 100%, 62%);
  }

  html {
    overflow: hidden;
  }

  body {
    display: flex;
    height: 100dvh;
    background-color: hsl(240, 6%, 10%);

    #flex-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      direction: rtl;

      > * {
        direction: ltr;
      }

      #ssh-text {
        margin: 20px 50px;
        font-family: "Input Mono", Helvetica;
        font-weight: 500;
        color: white;
        font-size: 16px;
        line-height: normal;
      }

      main {
        flex: 1;
        margin-left: 100px;
        position: relative;
      }

      #copyright {
        font-family: "Input Mono", Helvetica;
        font-size: 16px;
        font-weight: 200;
        color: white;
        margin-left: 100px;
        margin-bottom: 15px;
      }
    }

    nav {
      display: grid;
      overflow: auto;
      grid-template-columns: 120px 45px;
      grid-auto-rows: min-content;
      row-gap: 30px;
      column-gap: 10px;
      padding: 60px 20px 60px 0;
      font-family: "Input Mono", Helvetica;
      font-weight: 500;
      font-size: 15px;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: hsl(0, 0%, 67%);
        text-align: right;
        text-decoration-thickness: 1px;
        grid-column-start: 1;
      }

      #nav-arrow {
        color: white;
        transform: scale(1.5) scaleX(-1);
        grid-row-start: var(--highlightIndex);
        grid-column-start: 2;
        font-family: sans-serif;
        width: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>

<style is:global lang="scss">
  * {
    box-sizing: border-box;
  }

  .cr {
    color: var(--lr) !important;
  }

  .cb {
    color: var(--lb) !important;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
</style>
