---
interface Props {
  title: string;
  sshUser: string;
  highlightIndex: number;
}

const { title, highlightIndex, sshUser } = Astro.props;
import "normalize.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Arhan's Homepage" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Arhan Chaudhary" />
    <title>{title}</title>
  </head>
  <body>
    <div id="flex-wrapper">
      <div id="ssh-text">{sshUser}@arhan.sh:~$ █</div>
      <main>
        <slot class="slot" />
      </main>
      <div id="copyright">&copy; 2024 Arhan Chaudhary</div>
    </div>
    <label id="nav-hamburger" for="nav-toggle">
      <div></div>
      <div></div>
      <div></div>
    </label>
    <input type="checkbox" id="nav-toggle" />
    <nav>
      <label for="nav-toggle" id="nav-close">
        <div class="x-rectangle first"></div>
        <div class="x-rectangle second"></div>
      </label>
      <div id="nav-grid">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="/ctfing">CTFing</a>
        <a href="/reading">Reading</a>
        <a href="/cubing">Cubing</a>
        <a href="/best-of-yt">Best of YouTube</a>
        <a href="/favorite-music">Favorite Music</a>
        <div id="nav-arrow">↳</div>
      </div>
      <script is:inline define:vars={{ highlightIndex }}>
        document.querySelector(
          `nav a:nth-of-type(${highlightIndex})`
        ).style.color = "white";
      </script>
    </nav>
  </body>
</html>

<style define:vars={{ highlightIndex }}>
  :root {
    --lb: hsl(180, 75%, 51%);
    --lr: hsl(333, 100%, 62%);
  }

  html {
    overflow: hidden;
  }

  body {
    display: flex;
    height: 100dvh;
    background-color: hsl(240, 6%, 10%);

    #flex-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      direction: rtl;

      > * {
        direction: ltr;
      }

      #ssh-text {
        margin: 20px 50px;
        font-family: "Input Mono", Helvetica;
        font-weight: 500;
        color: white;
        font-size: 16px;
        line-height: normal;
      }

      main {
        flex: 1;
        margin-left: 100px;
        position: relative;
      }

      #copyright {
        font-family: "Input Mono", Helvetica;
        font-size: 16px;
        font-weight: 200;
        color: white;
        margin-left: 100px;
        margin-bottom: 15px;
      }
    }

    nav {
      overflow: auto;
      font-family: "Input Mono", Helvetica;
      font-weight: 500;
      font-size: 15px;

      #nav-close {
        display: none;
        cursor: pointer;
        color: white;
        left: 20px;
        top: 20px;
        position: absolute;

        .x-rectangle {
          position: absolute;
          height: 5px;
          width: 25px;
          background-color: white;
          margin: 5px 0;
        }

        .first {
          transform: rotate(45deg);
        }

        .second {
          transform: rotate(-45deg);
        }
      }

      #nav-grid {
        display: grid;
        grid-template-columns: 120px 45px;
        grid-auto-rows: min-content;
        row-gap: 30px;
        column-gap: 10px;
        padding: 60px 20px 60px 0;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: hsl(0, 0%, 67%);
          text-align: right;
          text-decoration-thickness: 1px;
          grid-column-start: 1;
        }

        #nav-arrow {
          color: white;
          transform: scale(1.5) scaleX(-1);
          grid-row-start: var(--highlightIndex);
          grid-column-start: 2;
          font-family: sans-serif;
          width: 27px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    #nav-hamburger {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      margin-right: 15px;
      padding: 10px;
      height: 53px;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      background-color: hsl(240, 6%, 10%);
      cursor: pointer;

      div {
        height: 5px;
        width: 35px;
        background-color: white;
      }
    }

    #nav-toggle {
      visibility: hidden;
      position: absolute;
    }

    @media (max-width: 950px) {
      #ssh-text {
        margin-left: 30px !important;
      }

      main,
      #copyright {
        margin-left: 60px !important;
      }

      #nav-hamburger {
        display: flex;
      }

      #nav-close {
        display: block !important;
      }

      nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-right: 0;
        padding-left: 15px;
        background-color: hsl(240, 13%, 6%);
        transition: transform 0.3s;
        transform: translateX(100%);
      }

      #nav-toggle:checked + nav {
        transform: initial;
      }
    }
  }
</style>

<style is:global lang="scss">
  * {
    box-sizing: border-box;
  }

  .cr {
    color: var(--lr) !important;
  }

  .cb {
    color: var(--lb) !important;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Input Mono";
    src: url("/fonts/InputMono/InputMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
</style>
